/* src/styles/ButtonView.css */

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 30px; /* Aumenta el espacio entre los botones */
}

.elevator-button-up {
  width: 150px; /* Aumenta el tamaño del botón */
  height: 150px; /* Aumenta el tamaño del botón */
  background-image: url("/images/TABLERO_BOTON_SUBIENDO_01.png");
  background-size: cover;
  border: 2px solid #444;
  border-radius: 50%;
  font-size: 48px; /* Aumenta el tamaño del ícono */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.elevator-button-up.moving-up {
  background-image: url("/images/TABLERO_BOTON_SUBIENDO_02.png");
  color: white;
}
.elevator-button-up:hover {
  background-color: #555;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.elevator-button-up.disabled {
  cursor: not-allowed;
  filter: opacity(0.5) grayscale(1);
  box-shadow: none;
}

.elevator-button-up.moving-up {
  animation: blink 1s infinite;
}

.elevator-button-stop {
  width: 150px; /* Aumenta el tamaño del botón */
  height: 150px; /* Aumenta el tamaño del botón */
  background-image: url("/images/TABLERO_BOTON_STOP_01.png");
  background-size: cover;
  border: 2px solid #444;
  border-radius: 50%;
  font-size: 48px; /* Aumenta el tamaño del ícono */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.elevator-button-stop.disabled {
  cursor: not-allowed;
  filter: opacity(0.5) grayscale(1);
  box-shadow: none;
}

.elevator-button-stop.emergency {
  background-image: url("/images/TABLERO_BOTON_STOP_02.png");
  color: white;
}

.elevator-button-stop.emergency {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.repair-icon {
  width: 150px; /* Ajusta el tamaño de la imagen para que coincida con los botones */
  height: 150px; /* Ajusta el tamaño de la imagen para que coincida con los botones */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333; /* Color del ícono */
  font-size: 48px; /* Tamaño del ícono */
  cursor: pointer;
  transition: transform 0.3s;
}

.repair-icon:hover {
  transform: scale(1.1);
}