.loading-scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-connected-people,
.input-max-people,
.input-base-duration,
.input-target-duration {
  position: absolute;
  z-index: 10;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.input-connected-people {
  top: 1%;
  left: 1%;
}

.input-max-people {
  top: 6%;
  left: 1%;
}

.input-base-duration {
  top: 11%;
  left: 1%;
}

.input-target-duration {
  top: 16%;
  left: 1%;
}

.restart-button {
  position: absolute;
  top: 92%;
  left: 89%;
  z-index: 10;
}

.background-video-bn,
.background-video-color,
.show-video,
.main-video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-video-bn {
  z-index: -1;
}

.background-video-color {
  z-index: 0;
}

.show-video {
  z-index: 20;
}

.prompt-connection {
  position: absolute;
  top: 5%;
  left: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  z-index: 10;
  text-align: center;
}

.prompt-connection p {
  color: white;
  font-size: 1.2rem;
  padding-inline: 10px;
}

.main-video-container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  clip-path: circle(31% at 50% 50%);
}


.loading-percentage,
.people-percentage,
.elapsed-time,
.not-enough-people {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 10;
}

.loading-percentage {
  top: 20%;
  font-size: 2rem;
}

.battery-charge-bar {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20px;
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
}

.battery-charge-level {
  height: 100%;
  background-color: green;
}

.people-percentage {
  bottom: 15%;
  font-size: 1.5rem;
}

.not-enough-people {
  bottom: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  color: red;
  font-size: 1.1rem;
}

.not-enough-people span {
  padding-inline: 10px;
  animation: blink 1.5s infinite;
}

.elapsed-time {
  top: 8%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  font-size: 1.5rem;
}

.elapsed-time span {
  padding-inline: 10px;
}
